/* reset dei margini */
* {
  box-sizing: border-box;
}
/* debug */
/* .container {
  background-color: pink;
}
.container [class*="col-"] {
  height: 150px;
  position: relative;
  border: 1px solid black;
}
.container:last-child > div {
  padding: 5px;
}
.container [class*="col-"] > .container {
  height: 100%;
  background-color: lightcoral;
}
.container > [class*="col-"] > .container > [class*="col-"] {
  height: 100%;
  border-color: white;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/* /debug */

/* COMMON */
.container {
  margin-top: 100px;
  width: 992px;
}
.grey {
  background-color: #f9f9f9;
}
img {
  height: 200px;
}
body {
  text-align: center;
}
/* BLOCCO LEZIONI */
#lezioni [class*="col-"] img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* BLOCCO PERCHE */
#why [class*="col-"] {
  margin-top: 80px;
}
#why [class*="col-"] img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

@media screen and (min-width:769px) and (max-width:992px) {
  body {
    font-size: 1.2em;
  }
  img {
    height: auto;
    max-height: 150px;
  }
  .container {
    margin-top: 50px;
    width: 100%;
  }
  #steps [class*="col-"]:last-of-type {
    margin-top: 30px;
  }
  #why [class*="col-"] {
    margin-top: 30px;
  }
  #why [class*="col-"]:first-of-type {
    margin-top: 0;
  }
}

/* breakpoint inferiore ai 768px */
@media screen and (max-width:768px) {
  body {
    font-size: 1.2em;
  }
  img {
    max-width: 80%;
    height: auto;
    max-height: 150px;
  }
  .container {
    margin-top: 30px;
    width: 100%;
  }
  #lezioni [class*="col-"],
  #steps [class*="col-"],
  #why [class*="col-"] {
    margin-top: 30px;
  }
  #lezioni [class*="col-"]:first-of-type,
  #steps [class*="col-"]:first-of-type,
  #why [class*="col-"]:first-of-type {
    margin-top: 0;
  }
  #why [class*="col-"] img {
    max-height: 100px;
    padding: 5px;
  }
}
